/* color palette */
:root {
  --color-background: #1e1e1e;
  --color-background-rgb: 30, 30, 30;
  --color-text: #d4d4d4;
  --color-prompt: #1eff83;
  --color-input-background: #333333;
  --color-border: #333333;
  --color-action: #ffc83d; /* A gold/yellow for clickable actions */
  --color-error: #ff4d4d;

  /* Platform Colors */
  --color-platform-spotify: #1db954;
  --color-platform-youtube: #ff0000;
  --color-platform-deezer: #00c7ff;
  --color-platform-itunes: #f954a3;

  --section-gap: 2rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  line-height: 1.6;
  font-family:
    'Fira Code',
    'Consolas',
    'Monaco',
    'Andale Mono',
    'Ubuntu Mono',
    monospace;
  font-size: 16px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
